<div [formGroup]="formGroup">
  <div formArrayName="_" class="properties">
    <div
      *ngFor="let item of formGroup.get('_').controls; let i = index"
    >
      <fieldset [formGroupName]="i" class="property">
        <legend>{{ item.get('key').value }} Property Form</legend>
        <mat-form-field class="key">
          <input
            matInput
            placeholder="Name of property"
            formControlName="key"
          />
        </mat-form-field>

        <app-combinator-form
          formControlName="value"
        ></app-combinator-form>

        <div>
          <button
            mat-stroked-button
            color="warn"
            (click)="removeItem(i)"
          >
            Delete Property
          </button>
        </div>
      </fieldset>
    </div>
    <div>
      <button
        mat-stroked-button
        color="primary"
        style="margin-top:0.5rem"
        (click)="addItem()"
      >
        Add Property
      </button>
    </div>
  </div>
</div>
